<h2 id="title">Welcome to Ember</h2>

<LinkTo @route="index">Index</LinkTo>
<LinkTo @route="detail" @model="1">Detail</LinkTo>
<LinkTo @route="detail.subdetail" @models={{array "1" "1"}}>Subdetail</LinkTo>

{{outlet}}